body{
  font-family: sans-serif;
}

.article-h1{
  background-color: deeppink;
}

.price{
  color: red;
}

.before-shop-loop{
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 700px;
  margin: 0 auto;
}

.loop{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

article{
  background-color: #c0bdbd;
  margin: 20px;
  min-width: 320px;
  border: 1px #888 solid;
  text-align: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 10px;
  border: 1px solid #dfdfdf;
  border-radius: 2px;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
}


.media{
  background-color: #dbd9d9;
  margin: 20px;
  padding-bottom: 1px;
}

h3 a {
  color: #00AF3F;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }
}

a.add_to_cart_button{
  display: block;
  max-width: 70%;
  color: #00AF3F;
  text-decoration: none;
  text-transform: uppercase;
  border : 1px solid #00AF3F;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: red;
  &:hover{
    color: #dbd9d9;
    background-color: #00AF3F;
  }
}

